.container {
  font-size: 14px;
  font-weight: 200;
  padding: 10px;
  width: 790px;
}

.grid {
  display: grid;
  grid-template-columns: 300px auto 6px repeat(3, auto) 6px repeat(3, auto);
}

.topLeftHeaderCell {
  background-color: white;
  grid-column: span 2;
  outline: 1px solid #7a7a7a;
}

.vehicleNameHeaderCell {
  background-color: white;
  outline: 1px solid #7a7a7a;
  font-weight: bold;
  grid-column: span 3;
  padding: 2px 6px;
}

.headerCell {
  background-color: #7a7a7a;
  box-shadow: 0 2px 4px rgb(60 64 67 / 45%);
  color: white;
  margin-bottom: 6px;
  outline: 1px solid #7a7a7a;
  padding: 2px 6px;
}

.cell {
  background-color: white;
  outline: 1px solid #ccc;
  padding: 2px 6px;
}
